 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://media.istockphoto.com/id/1420039900/photo/cyber-security-ransomware-email-phishing-encrypted-technology-digital-information-protected.jpg?s=1024x1024&w=is&k=20&c=IF7urJ01pDieoE-QDg-hrMNL82vG3LCYnYjG2yGDN1o=') center/cover no-repeat; 

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

div {
    text-align: center;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

#passwordInput {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#visibilityToggle {
    cursor: pointer;
    font-size: 16px;
}

#checkButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-size: 18px;
}

.error {
    color: red;
}

.success {
    color: green;
}
